x-quicksync: &quicksync
  devices:
    - /dev/dri:/dev/dri
  group_add:
    - 109
    - 44
    - 103
    - 226

x-win-quicksync: &win-quicksync
  devices:
    - /dev/dxg:/dev/dxg
  volumes:
    - /usr/lib/wsl:/usr/lib/wsl

x-nvenc: &nvenc
  runtime: nvidia
  deploy:
    resources:
      reservations:
        devices:
          - driver: nvidia
            count: all
            capabilities: [gpu]

services:
  stash:
    # uncomment the applicable line for hardware acceleration
    # <<: *quicksync
    # <<: *win-quicksync
    # <<: *nvenc
    image: ghcr.io/feederbox826/stash-s6:alpine
    ports:
      - 9999:9999
    environment:
      - PUID=1000
      - PGID=1000
    # Additional group ID for Intl hwacccel
      - AVGID=22
    # Enable automatic AVGID detection and replacement
      - AUTO_AVGID=true
    # migration might not be right for you, check
    # https://u.feederbox.cc/s6-migrate
    #  - MIGRATE=TRUE
    volumes:
    # Adjust the left side of the volume paths to where the data is stored on your host (e.g. /volume1/media/HOMEWORK)
    # The right side of the path will be where it appears in stash, and where you will have to point your "Library" path to
    # More info here: https://docs.docker.com/engine/storage/bind-mounts/#options-for---mount
      - /host/path-to-stash:/container/browse/to-library
    # the pip mount is used to install python packages, you can mount it to a local directory if you want a peek behind the curtains
      - pip:/pip-install
    # can optionally also be mounted to a local directory
      - /host/docker-apps/stash/pip:/pip-install
    # the config mount stores all the configuratio files for stash, this is an important directory
    # this should be backed up regularly and should not be within your library directory
      - /host/docker-apps/stash/config:/config
    # If you are migrating from another container, you can mount them here for migration
    # - /host/path/to-old-stashapp-stash:/root/.stash
volumes:
  pip:
    external: true