name: docker-hawccel-build
on: 
  workflow_call:
    inputs:
      upstream:
        required: true
        type: string
      tags:
        required: true
        type: string
      buildargs:
        type: string
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_PASSWORD:
        required: true
      GH_TOKEN:
        required: true

env:
  IMAGE_NAME: stash-s6

permissions:
  packages: write
  contents: read

jobs:
  docker-hwaccel-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Get Git commit timestamps
        run: echo "TIMESTAMP=$(git log -1 --pretty=%ct)" >> $GITHUB_ENV
      - uses: docker/setup-qemu-action@v3
        with:
          platforms: arm,arm64
      - uses: docker/setup-buildx-action@v3
      - id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}
            docker.io/${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}
          tags: ${{ fromJSON(inputs.tags) }}
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GH_TOKEN }}
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: build and push multi-arch hwaccel image
        uses: docker/build-push-action@v5
        with:
          push: true
          provenance: false
          file: dockerfile/hwaccel.Dockerfile
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            STASH_TAG=${{ inputs.upstream }}
            BUILD_DATE=${{ env.TIMESTAMP }}
            ${{ inputs.buildarg }}
        env:
          SOURCE_DATE_EPOCH: ${{ env.TIMESTAMP }}