name: docker-cuda-build
on:
  push:
    paths:
      - cuda.Dockerfile
      - stash-cuda/**
      - stash/**
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v4
        with:
          push: true
          file: cuda.Dockerfile
          tags: ghcr.io/${{ github.repository_owner }}/stash-s6:cuda