name: docker-alpine-build
on: 
  workflow_call:
    inputs:
      upstream:
        required: true
        type: string
      tags:
        required: true
        type: string
      buildargs:
        type: string
      cachetag:
        type: string
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_PASSWORD:
        required: true
      GH_TOKEN:
        required: true

env:
  IMAGE_NAME: stash-s6

permissions:
  packages: write
  contents: read

jobs:
  docker-alpine-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Get Git commit timestamps
        run: echo "TIMESTAMP=$(git log -1 --pretty=%ct)" >> $GITHUB_ENV
      - uses: docker/setup-qemu-action@v3
        with:
          platforms: arm,arm64
      - uses: docker/setup-buildx-action@v3
      - id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}
            docker.io/${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}
          tags: ${{ inputs.tags }}
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GH_TOKEN }}
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: buildx-${{ inputs.cachetag }}-${{ github.sha }}
          restore-keys: |
            buildx-${{ inputs.cachetag }}-
      - name: build and push multi-arch alpine image
        uses: docker/build-push-action@v5
        with:
          push: true
          provenance: false
          file: dockerfile/alpine.Dockerfile
          tags: ${{ steps.meta.outputs.tags }}
          platforms: linux/amd64,linux/arm64,linux/arm/v6,linux/arm/v7
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max
          build-args: |
            STASH_TAG=${{ inputs.upstream }}
            BUILD_DATE=${{ env.TIMESTAMP }}
        env:
          SOURCE_DATE_EPOCH: ${{ env.TIMESTAMP }}
      - # Temp fix
        # https://github.com/docker/build-push-action/issues/252
        # https://github.com/moby/buildkit/issues/1896
        name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache